@media screen and (max-width: 760px){

    header{
        flex-direction: column;
    }

    header img {
        display: flex;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 35px;
        text-align: center;
    }

    p {
        text-align: center;
    }

    a li {
        font-size: 12px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }

    ul{
        text-align: center;
    }
}
